Body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color:rgba(116, 197, 221, 0.445)(62, 196, 196) ;
}

h1{
    text-align: center;
    color: rgb(3, 3, 3);
}

form{
    max-width: 600px;
    margin: auto;
    background-color: rgb(170, 220, 243);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(2, 2, 2, 0.5);
    padding: 20px;
}

fieldset{
    border: 2px solid #5ebaf0;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(167, 203, 219, 0.568)
}

legend{
    font-weight: bold;
    text-align: left;
    color: black;
}

lable{
    display: block;
    margin-top: 10px;
    color: #0a818a;
}

input,textarea{
    width: calc(100% -1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #8debee;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #48afce;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover{
    background-color: rgb(150, 207, 211);
}

#resumeOutput{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #444;
    border-radius: 8px;
    background-color: rgb(200, 235, 248);
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

#resumeOutput h2{
    color: #0b0c0c;
}

.profile-picture {
    display: block;
    margin: 0 auto;
    border: 2px solid #3498bd;
    box-shadow: 0 4px 8px rgba(11, 7, 211, 0.5);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
